
<div class="base">
    <% @base.each do |m| %>
      <div id="<%= m.id %>">
        <%= m.name %>
      </div>
    <% end %>
</div>

<div class="syrup">
  <% @syrup.each do |m| %>
      <div id="<%= m.id %>">
        <%= m.name %>
      </div>
  <% end %>
</div>

<div class="additive">
  <% @additive.each do |m| %>
      <div id="<%= m.id %>">
        <%= m.name %>
      </div>
  <% end %>
</div>



