<h1>飲料調配大師</h1>

<div id="select-materials" class="row">
  <div class="col-md-4 base">
    <div class="panel panel-default">
      <div class="panel-heading">飲料底液</div>
      <ul class="list-group">
          <% list_materials(@base) %>
      </ul>
    </div>
  </div>
  <div class="col-md-4 syrup">
    <div class="panel panel-default">
      <div class="panel-heading">糖漿</div>
      <ul class="list-group">
        <% list_materials(@syrup) %>
      </ul>
    </div>
  </div>
  <div class="col-md-4 additive">
    <div class="panel panel-default">
      <div class="panel-heading">添加物</div>
      <ul class="list-group">
        <% list_materials(@additive) %>
      </ul>
    </div>
  </div>
</div><!-- end of .row -->
<div id="selected-materials" class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading">選擇的內容</div>
      <ul class="list-group"></ul>
    </div>
  </div>
</div>

<%=  simple_form_for @drink do |f| %>
  <%= f.input :name, :input_html => { :class => "input-xxlarge"} %>
  <%= f.input :way, :input_html => { :class => "input-xxlarge"} %>
  <%= f.input :description, :input_html => { :class => "input-xxlarge"} %>
  <%= f.association :materials, :as => :check_boxes %>
  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary"%>
  </div>
<% end %>



