<%= render :partial => "facebook_share_setup" %>
<div class="row centered">
  <div class="col-md-12">
    <h1><%= @drink.name %></h1>
  </div>
</div>


<div class="row">
  <!-- materials-info & drink-way-info -->
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">飲料原料</div>
      <ul id="base" class="list-group">
        <% @materials.each do |m| %>
          <li class="list-group-item <%= m.mtype.name %>"><%= m.name %></li>
        <% end %>
      </ul>
    </div>

    <!-- drink-way-info -->
    <div class="panel panel-default">
      <div class="panel-heading">製作方式</div>
      <div class="panel-body">
        <%= simple_format(@drink.way) %>
      </div>
    </div>

  </div>

  <!-- drink-description-info -->
  <div class="col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading">飲料特色</div>
      <div class="panel-body">
        <%= simple_format(@drink.description) %>
      </div>
    </div>
  </div>
</div><!-- end of row -->
<div class="row centered">
  <div class="col-md-12">
    <p>Drink Made By <%= link_to(@drink.user.name, user_path(@drink.user)) %></p>
  </div>
</div>





<div class="row centered">
  <%= render :partial => "common/fb_share" %>
</div>



<%= render :partial => "disqus" %>

