<%= render :partial => "drinks/facebook_share_setup" %>
<div class="row centered">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @user.name %></h1>
    <%= render :partial => "common/drinks_list" %>
  </div>
    <%= link_to("+新增飲料", new_drink_path(current_user)) if user_auth(@user)%>
</div>

<div class="row centered">
  <%= render :partial => "common/fb_share" %>
</div>

