<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to("Starbucks Drink Mixer", root_path, :class => "navbar-brand") %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("飲料列表", drinks_path) %></li>
        <li><%= link_to("其他使用者的飲料", users_path) %></li>

        <% if current_user %>
          <!-- user logined information -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to("My Drinks",user_path(current_user)) %></li>
              <li class="divider"></li>
              <li><%= link_to("Logout",destroy_user_session_path,:method=>:delete) %></li>
            </ul>
          </li>
        <% else %>
          <!-- user not_logined information -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Join Us and Have Fun<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "使用Facebook登入（建議）", user_omniauth_authorize_path(:facebook) %></li>
              <li class="divider"></li>
              <li><%= link_to("註冊",new_user_registration_path) %></li>
              <li><%= link_to("登入",new_user_session_path) %></li>
              
            </ul>
          </li>
          
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

