<!DOCTYPE html>
<html>
<head>
  <title>Starbucks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "common/navbar" %>

  <div class="container">
    <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
    <div class="container">
      <hr>
      <div class="pull-right">
        <%= link_to("Contact Us", "/contact", :class => "text-muted") %>
      </div>
    </div>
  </div>

</body>
</html>
